{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h2 class="mb-4 text-center">Forgot Password</h2>

            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}

            <form method="post">
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" name="email" id="inputEmail" placeholder="Your email" class="form-control" required>
                </div>
                <button class="btn btn-primary w-100">Send Reset Link</button>
            </form>
        </div>
    </div>
{% endblock %}
